<!DOCTYPE html>
<html ng-app="miApp">
<head>
	<meta charset="utf-8" />
	<title>Aerolineas Sale Tarde</title>
	<link href="css/bootstrap.min.css" rel="stylesheet" />
	<link href="css/estilos.css" rel="stylesheet" />
	<script src="js/jquery-3.4.0.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="js/bootstrap.min.js" ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="js/codigo.js"></script>
</head>
<body>

    <div ng-controller="controllerAeropuerto" class="container-fluid">
        <div class="row">
            <div class="col-12" id="cabecera">
                <h1 class="display-4">Bienvenidos a Aerolineas Sale Tarde</h1>

            </div>
        </div>
        <div class="container-fluid" ng-show="ABMC == 'A'">

            <div class="row">
                <div class="col-12">

                    <form name="carga" method="get" id="carga">
                        <br />
                        <div class="form-group row">
                            <label for="nombreaer" class="col-4 col-form-label">Nombre Del Aeropuerto</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="nombreaer" ng-model="nombreaer" placeholder="Nombre">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-4 col-form-label">¿Es Internacional?</label>
                            <div class="col-sm-1">
                                <input class="form-check-input" type="radio" name="internacional" ng-model="internacional" id="si" value="si" checked>
                                <label class="form-check-label" for="si">
                                    SI
                                </label>

                            </div>
                            <div class="col-sm-1">
                                <input class="form-check-input" type="radio" name="internacional" ng-model="internacional" id="no" value="no">
                                <label class="form-check-label" for="no">
                                    NO
                                </label>

                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="cantidadhan" class="col-4 col-form-label">Cantidad de Hangares Disponibles:</label>
                            <div class="col-sm-2">
                                <input type="number" class="form-control" name="cantidadhan" ng-model="cantidadhan" placeholder="Ingrese la cantidad">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="fechaconse" class="col-4 col-form-label">Fecha Concesion:</label>
                            <div class="col-sm-3">
                                <input type="date" class="form-control" name="fechaconse" ng-model="fechaconse" placeholder="Seleccione fecha">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="clave" class="col-4 col-form-label">Clave del Aeropuerto</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="clave" ng-model="clave" placeholder="Clave">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="costo" class="col-4 col-form-label">Costo Mensual de Consesion:</label>
                            <div class="col-sm-2">
                                <input type="number" class="form-control" name="costo" ng-model="costo" placeholder="$">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-form-label" for="provincia">Provincia</label>
                            <div class="col-3">
                                <select id="provincia" class="form-control" ng-model="provincia" ng-options="prov.name for prov in provincias"></select>
                            </div>
                        </div>
                    </form>

                    <button class="btn btn-primary" name="btnenviar" ng-click="guardar()" >Enviar Datos</button>
                    <button class="btn btn-primary" name="btnverlista" ng-click="ABMC = 'C'" value=""> ver listado </button>
                    <label>{{ABMC}}</label>
                </div>
            </div>
        </div>
        <div class="container-fluid" ng-show="ABMC == 'C'">

            <table>
                <thead>
                    <tr>
                        <td>Nombre Aeropuerto</td>
                        <td>internacional</td>
                        <td>cantidad de hangares</td>
                        <td>fecha de consesion</td>
                        <td>clave de Aeropuerto</td>
                        <td>costo mensual</td>
                        <td>provincia</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="aero in aeropuertos">
                        <td>{{aero.name}}</td>
                        <td>{{pais.internacional}}</td>
                        <td>{{pais.cantidadhan}}</td>
                        <td>{{pais.fechaconse}}</td>
                        <td>{{pais.clave}}</td>
                        <td>{{pais.costo}}</td>
                        <td>{{pais.provincia}}</td>

                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3" ng-show="aeropuertos.length >0 "> Total: {{aeropuertos.length}}</td>
                    </tr>
                </tfoot>
            </table>
            <button class="btn btn-primary" name="btnverlista" ng-click="ABMC = 'A'" value=""> cargar aeropuerto </button>
        </div>
    </div>



</body>
</html>

